platform:
- x64

environment:
  matrix:
  - nodejs_version: "7"

cache:
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'

branches:
  only:
  - master

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - npm install -g electron-packager gulp
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install
  - npm prune

test_script:
  - node --version
  - npm --version
  - gulp compile
  - gulp build-windows
  - 7z a opsdroid-desktop-$(APPVEYOR_REPO_TAG_NAME)-win32-x64.zip %APPVEYOR_BUILD_FOLDER%\release_builds\opsdroid-desktop-win32-x64\*

artifacts:
  - path: /.*\.zip/
    name: opsdroid-desktop
    
deploy:
  release: $(APPVEYOR_REPO_TAG_NAME)
  description: $(APPVEYOR_REPO_TAG_NAME)
  provider: GitHub
  auth_token:
    secure: EyT9xiX/1kQkUSY0nNUMIwNsm8yOibQYreUCXW0vnoGHUacv6ZBWFkXUQBxLckX6
  artifact: /.*\.zip/
  draft: false
  prerelease: false
  on:
    branch: master
    appveyor_repo_tag: true

build: off
