@import '../vars';

#connection-settings {
  display: none;
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: $prompt-height;
  background-color: $opsdroid-grey-medium;
  border-bottom: 1px solid $opsdroid-grey;

  #ssl-enabled {
    cursor: pointer;
    line-height: $prompt-height;
    padding-left: 5px;
    padding-right: 5px;
    background-color: $opsdroid-grey-dark;
    color: $opsdroid-grey-medium;
    display: inline-block;
    border-right: 2px solid $opsdroid-grey;
  }

  input[type=text] {
    border-right: 2px solid $opsdroid-grey;
    background-color: $opsdroid-grey-dark;
    width: 33%;
  }

  input[type=text]::-webkit-input-placeholder {
    color: $opsdroid-grey-medium;
  }

  input[type=submit] {
    float: right;
    width: 20%;
  }
}

#connection-settings.active {
  display: block;
}
