@import 'vars';

::-webkit-scrollbar {
    display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  margin: 0;
}

img.banner {
  position: fixed;
  bottom: 0px;
  left: -400px;
  filter: brightness(50%);
  z-index: -1;
}

input[type=text] {
  height: $prompt-height;
  padding: 0;
  padding-left: 10px;
  margin: 0;

  border: 0;
  border-radius: 0;
  outline: none;

  background-color: $opsdroid-grey;
}

input[type=submit] {
  cursor: pointer;
  border: 0;
  height: $prompt-height;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: $opsdroid-grey-medium;
}
