$prompt-height: 40px;
$send-width: 60px;
$status-indicator-size: 8px;

// Colours
$opsdroid-grey: #ebebeb;
$opsdroid-grey-medium: darken($opsdroid-grey, 10%);
$opsdroid-grey-dark: darken($opsdroid-grey, 30%);
$opsdroid-grey-light: lighten($opsdroid-grey, 2%);
$opsdroid-blue: #176587;
